/* #hero-section {
    justify-content: center;
} */
#hero-section .section-content {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 45fr 55fr;
    grid-template-rows: 2rem auto;
    gap: 2rem;
    padding: 1.5rem 0 0;
    /* max-width: 80rem; */
    /* width: 100%; */
    /* padding: 0 1rem 0 4.75rem; */
    /* min-height: 100vh; */
    min-height: 45rem;
    height: 100vh;
    max-height: 55rem;
}
.headline-text-wrapper {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
h1 {
    font-size: clamp(2rem, 3.8vw, 3.75rem);
    word-spacing: -.75rem;
    position: relative;
}
.headline-text {
    font-size: clamp(1rem, 2vw, 1.5rem);
    font-weight: 500;
    font-style: italic;
    text-align: right;
}
.headline-image-wrapper {
    position: absolute;
    right: 0;
    height: clamp(1rem, 2vw, 3rem);
    width: clamp(7.5rem, 15vw, 12.5rem);
}
.headline-image {
    object-fit: contain;
}
.hero-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    gap: 1.5rem;
    /* width: 45%; */
}
.hero-text-wrapper p {
    max-width: 25rem;
}
.hero-text-wrapper .cta-button {
    margin: 1rem 0 0;
}
.countdown-wrapper {
    display: flex;
    margin: 3rem 0 0;
    gap: 1.5rem;
}
.countdown {
    display: flex;
    align-items: flex-end;
}
.countdown-value {
    font-family: 'Unica One';
    font-variant-numeric: tabular-nums;
    letter-spacing: .1rem;
    font-size: clamp(3rem, 4vw, 4rem);
    line-height: clamp(2.5rem, 3vw, 3.5rem);
}
.countdown-heading {
    font-family: 'Unica One';
}
.lightbulb-image-wrapper {
    position: absolute;
    top: 0%;
    right: 25%;
    translate: 50% -75%;
    width: clamp(2rem, 3vw, 4rem);
    height: clamp(2rem, 3vw, 4rem);
}
.lightbulb-image {
    object-fit: contain;
}
.chain-impact-image-wrapper {
    /* position: absolute; */
    display: inline-flex;
    align-items: center;
    /* top: 33%;
    right: 0;
    translate: 70% -50%; */
    position: relative;
    top: 2.5%;
    left: 1rem;
    /* display: flex; */
    gap: .25rem;
}
.chain-image-wrapper {
    position: relative;
    height: clamp(3rem, 4vw, 5rem);
    width: clamp(3rem, 4vw, 5rem);
}
.impact-image-wrapper {
    position: relative;
    height: clamp(2rem, 4vw, 3rem);
    width: clamp(2rem, 4vw, 3rem);
}
.chain-image, .impact-image {
    object-fit: contain;
}


.hero-image-wrapper {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    position: relative;
    /* width: 55%; */
    height: 100%;
}
.hero-image {
    object-fit: contain;
    object-position: bottom;
}

#hero-section .lens-flare:nth-child(1) {
    top: 5%;
    left: 7.5%;
}
#hero-section .lens-flare:nth-child(2) {
    bottom: 0%;
    right: 0%;
}

@media screen and (max-width: 700px) {
    #hero-section .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-template-columns: initial;
        grid-template-rows: initial;
        gap: 3rem;
        padding: 1.5rem 0 0;
        min-height: initial;
        height: initial;
        max-height: initial;
    }
    .headline-text {
        align-items: center;
    }
    .hero-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: relative;
    }
    h1 {
        font-size: clamp(1.75rem, 3vw, 2.25rem);
        line-height: clamp(2rem, 3vw, 2.5rem);
        word-spacing: -.25rem;
    }
    .lightbulb-image-wrapper {
        top: 0%;
        right: 20%;
        translate: 50% -75%;
        width: clamp(1.5rem, 2vw, 3rem);
        height: clamp(1.5rem, 2vw, 3rem);
    }
    .chain-impact-image-wrapper {
        display: inline-flex;
        align-items: center;
        position: relative;
        top: 5%;
        left: 1rem;
        gap: .25rem;
    }
    .chain-image-wrapper {
        height: clamp(1.75rem, 3vw, 3rem);
        width: clamp(1.75rem, 3vw, 3rem);
    }
    .impact-image-wrapper {
        height: clamp(1.5rem, 3vw, 3rem);
        width: clamp(1.5rem, 3vw, 3rem);
    }
    .hero-image-wrapper {
        width: 100%;
        min-height: 50vh;
    }
}