.cta-button {
    border: none;
    border-radius: .25rem;
    padding: 1rem 2.75rem;
    color: white;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    background-image: linear-gradient(to right, var(--primary-color-1), var(--primary-color-2), var(--primary-color-3));
    cursor: pointer;
}
.cta-button:active {
    /* background: linear-gradient(to right, var(--primary-color-1), var(--primary-color-2)) padding-box, */
    background: linear-gradient(to right, var(--page-bg-color), var(--page-bg-color)) padding-box,
                linear-gradient(to bottom right, var(--primary-color-3), var(--primary-color-3)) border-box;
    border-color: transparent;
    border-style: solid;
    border-width: .1rem;
}

@media screen and (max-width: 700px) {
    .cta-button {
        padding: .5rem 1rem;
    }
}