#prizes-section .section-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 45rem;
    height: 50vh;
    max-height: 55rem;
    padding: 1rem;
}
.prizes-section-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 45%;
    height: 100%;
}
.prizes-section-info-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7.5rem;
    width: 55%;
}
.prizes-section-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
}
.prizes-section-text-wrapper > p {
    max-width: 22.5rem;
}
.prizes-section-image {
    object-fit: contain;
}
.rewards-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1.5rem;
}
.reward {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    background-color: rgba(214, 51, 255, 0.12);
    border: .1rem solid var(--primary-color-2);
    border-radius: .5rem;
}
.reward.first-place {
    background-color: rgba(143, 58, 255, 0.12);
    border: .1rem solid var(--primary-color-1); 
}
.reward .position-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
    align-items: center;
}
.reward .position-wrapper h3 {
    font-size: 1.75rem;
}
.reward .position-wrapper small {
    font-weight: 500;
    color: white;
    text-align: center;
}
.reward .prize {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary-color-2);
}
.reward.first-place .prize {
    color: var(--primary-color-1);
}
.reward-image-wrapper {
    position: relative;
    width: 100%;
    height: 4rem;
    translate: 0 -75%;
    scale: 1.75;
}
.reward.first-place .reward-image-wrapper {
    scale: 2.75;
    translate: 0 -80%;
}
.reward-image {
    object-fit: contain;
}


@media screen and (max-width: 700px) {
    #prizes-section .section-content {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        min-height: initial;
        height: initial;
        max-height: initial;
        padding: 1rem;
    }

    .prizes-section-image-wrapper {
        width: 100%;
        min-height: 15rem;
        height: 25vh;
        max-height: 25rem;
    }

    .prizes-section-text-wrapper {
        align-items: center;
        text-align: center;
        gap: 1rem;
    }

    .reward {
        padding: .5rem;
        border-radius: .5rem;
    }
    .reward.first-place {
        background-color: rgba(143, 58, 255, 0.12);
        border: .1rem solid var(--primary-color-1); 
    }
    .reward .position-wrapper {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        align-items: center;
    }
    .reward .position-wrapper h3 {
        font-size: 1rem;
    }

    .reward .prize {
        font-size: .9rem;
    }
    .reward.first-place .prize {
        color: var(--primary-color-1);
    }
    .reward-image-wrapper {
        height: 2.5rem;
        scale: 1.75;
    }
    .reward.first-place .reward-image-wrapper {
        scale: 2.75;
        translate: 0 -80%;
    }
}